<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZapp</title>
    <!-- VUE JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
    integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- SCRIPT -->
    <script src="js/script.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- GOOGLE FONTS -->


    <body>


        <!-- WEBAPP WINDOW -->

        <main class="fl-maincontainer container mt-4 rounded-5 shadow-lg">

            <section class="row" id="root">

                <!-- LEFT SIDE - CHATS -->

                <section class="fl-chatlist col-4">

                    <!-- PROFILE SUB-SECTION -->
                    <div class="fl-profile row d-flex justify-content-between">
                        <div class="d-flex w-25">
                            <img src="img/avatar_io.jpg" alt="profile-pic" class="fl-profilepic img-fluid rounded-circle mt-2">
                            <h4 class="align-self-center mt-2 mx-2">Sofia</h4>
                        </div>
                        <div class="d-flex justify-content-end align-self-center w-25">
                            <i class="bi bi-circle fl-grey"></i>
                            <i class="bi bi-chat-left-fill fl-grey"></i>
                            <i class="bi bi-three-dots-vertical fl-grey"></i>
                        </div>
                    </div>
                    <!-- NOTIFICATION ALERT SUB-SECTION -->
                    <div class="fl-notificationalert row d-flex">
                        <div class="fl-notificationicon align-self-center rounded-circle h-75">
                            <i class="bi bi-bell-slash-fill"></i>
                        </div>
                        <div class="w-75">
                            <h6 class="fl-w-100 h-25 mt-2"><strong>Ricevi notifiche di nuovi messaggi</strong></h6>
                            <u class="w-100">Attiva notifiche desktop</u>
                        </div>
                    </div>
                    <!-- SEARCH SUB-SECTION -->
                    <div class="fl-search row d-flex">
                        <button class="fl-searchbutton h-100 " type="button" id="button-addon2" ><i class="bi bi-search fl-grey d-flex justify-content-center"></i></button>
                        <input type="text" class="fl-searchinput h-100" placeholder="Cerca o inizia una nuova chat" aria-describedby="button-addon2" v-model="searching" @keyup="searchStart">
                    </div>
                    <!-- CONTACTS SUB-SECTION -->
                    <div class="fl-contacts row">
                        <div class="d-flex" v-for="(user, index) in contacts" :class="activeChat === index ? 'fl-activechat' : ''" @click="selectedChat(index)" v-if="user.visible === true ? user.visible = true : user.visible = false">
                            <div class="fl-contactpic">
                                <img :src="'img/avatar'+user.avatar+'.jpg'" :alt="user.name" class="fl-profilepic img-fluid rounded-circle mt-2">
                            </div>
                            <div class="d-flex justify-content-between w-75">
                                <div>
                                    <h6 class="h-25 mt-2"><strong>{{ contacts[index].name }}</strong></h6>
                                    <p class="fl-grey">Ultimo messaggio</p>
                                </div>
                                <div class="mt-4">
                                    <p class="fl-grey">15:05</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- RIGHT SIDE - CONVERSATION -->

                <section class="fl-conversation col p-0">

                    <!-- PROFILE SUB-SECTION -->
                    <div class="fl-conversationprofile row d-flex justify-content-between">
                        <div class="d-flex w-50">
                            <img :src="'img/avatar'+ contacts[activeChat].avatar +'.jpg'" :alt="contacts[activeChat].name" class="fl-profilepic img-fluid rounded-circle mt-2 mx-2">
                            <div>
                                <h4 class="mt-2 mb-0 px-2">{{contacts[activeChat].name}}</h4>
                                <p class="px-2 fl-grey">Ultimo accesso alle 15:00</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-self-center w-25">
                            <i class="bi bi-search fl-grey"></i>
                            <i class="bi bi-paperclip fl-grey"></i>
                            <i class="bi bi-three-dots-vertical fl-grey"></i>
                        </div>
                    </div>

                    <!-- CHAT SUB-SECTION -->
                    <div class="fl-chat d-flex flex-column p-3">
                        <div v-for="(item, index) in contacts[activeChat].messages" :class="item.status === 'sent' ? 'fl-sent' : 'fl-received'" class="rounded-4 p-2 mb-4">
                            <p class="d-block mb-2">{{ item.message }}</p>
                            <div class="d-flex justify-content-end">
                                <span class="fl-grey">{{ item.date }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- CHAT INPUT SUB-SECTION -->
                    <div class="fl-chatinput d-flex">
                        <div class="col d-flex align-self-center mx-2">
                            <i class="bi bi-emoji-smile fl-grey"></i>
                        </div>
                        <div class="col-8 align-self-center h-75">
                            <input type="text" class="fl-messageinput h-100 rounded-pill p-2" placeholder="Scrivi un messaggio" aria-describedby="button-addon2" v-model="insertedText" @keyup.enter="createMessage">
                        </div>
                        <div class="col-2 d-flex justify-content-end align-self-center mx-2">
                            <i class="bi bi-mic-fill fl-grey"></i>
                        </div>
                    </div>

                    
                </section>

            </section>
    
         </main>

    </body>

</html>